@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@media print {
  header, footer, nav, button, .print\:hidden { display: none !important; }
  body { background: white !important; }
  #salary-slip {
    width: 210mm;
    box-shadow: none !important;
    border: none !important;
  }
  @page { margin: 10mm; }
}
